# Autotools stuff
build-aux/
autom4te.cache/
aclocal.m4
Makefile.in
configure

# Configuration stuff
config.log
config.status
Makefile

# Libtool and build artefacts
.deps/
libtool
.libs
.dirstamp
libblindsight?la*
